.home_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);


    img {
        width: 400px;
        // box-shadow:1px 1px 70px 30px rgb(255, 5, 143);
        border-radius: 50%;
        margin-top: 230px;
        z-index: 9999999;
        @media (max-width: 668px) {
            width: 340px;
            height: 340px;
        }
    }

    h1 {
        margin-top: 80px;
        @media (max-width: 668px) {
            font-size: 22px;
        }
    }

    button {
        background: rgb(140, 2, 226);
        border: none;
        padding: 15px 40px;
        border-radius: 30px;
        margin-top: 40px;
        color: #ffffff;
        font-size: 20px;
        transition: all 0.3s;
        &:hover {
            background: rgb(250, 2, 43);
            cursor: pointer;
            padding: 15px 150px;
        }
    }

    p {
        font-size: 24px;
        margin: 20px;
        @media (max-width: 668px) {
            font-size: 20px;
            text-align: center;
        }
    }
}

.loader {
    position: absolute;
    width: 430px;
    top: 215px;
    height: 430px;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff000d, #0011ff 40%, #ff002b);
    animation: animate 3s linear infinite;
    @media (max-width: 668px) {
        width: 360px;
        height: 360px;
        top: 221px;
    }
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader:before {
    content: "";
    position: absolute;
    inset: 20px;
    background: #000;
    border-radius: 50%;
    z-index: 1000;
}

.loader:after {
    content: "";
    position: absolute;
    inset: 0px;
    background: #000;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff0022, #002fff 40%, #ff000d);
    z-index: 1000;
    z-index: 1;
    filter: blur(30px);
}

///////////////////////////////////////////////
* {
    margin: 0;
    padding: 0;
}
.table-box {
    margin: auto;
    width: 100%;
    @media (max-width: 668px) {
        width: 100%;
    }
}

.table-row {
    display: table;
    width: 90%;
    margin: 20px auto;
    background: transparent;
    padding: 20px 0;
    color: rgb(0, 0, 0);
    font-size: 13px;
    box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.404);
    // backdrop-filter: blur(20px);
    @media (max-width: 668px) {
        width: 90%;
        font-size: 12px !important;
    }
}
.table-row {
    box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.404);
}
.table-head {
    background: #c0bebe;  /* fallback for old browsers */
    box-shadow: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    // backdrop-filter: blur(20px);
    font-size: 1em;
    @media (max-width: 668px) {
        font-size: 8px !important;
    }
}
.table-head .table-cell {
    border-right: 1px solid rgb(0, 0, 0);
    // backdrop-filter: blur(20px);
    color: #000000;
}
.table-cell {
    display: table-cell;
    width: 18%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #000000;
    vertical-align: middle;
    font-size: 17px;
    font-weight: 600;
    word-break: break-all;
    color: #000000 !important;
    position: relative;
    @media (max-width: 668px) {
        font-size: 8px !important;
    }
    .new {
        position: absolute;
        left: -16px;
        top: 10px;
        background: rgb(114, 214, 114);
        width: 50px;
        margin-top: -20px;
        @media (max-width: 668px) {
            width: 20px;
            left: -10px;
            margin-top: -20px;
                }
        }
    .used {
        position: absolute;
        left: -16px;
        top: 10px;
        background: rgb(243, 208, 7);
        width: 50px;
        margin-top: -20px;
        @media (max-width: 668px) {
            width: 20px;
            left: -10px;
            margin-top: -20px;
                }
        }
}
.border {
    border-right: none !important;
}
.first-cell {
    text-align: center;
    padding:5px 5px;
    width: 15%;
    position: relative;
    @media (max-width: 668px) {
        font-size: 8px !important;
        padding: 5px;
        text-align: center;
    }


}


.first-cell-Auction {
    text-align: center;
    padding-left: 10px;
    width: 24%;
}

.last-cell {
    border-right: none;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
    .table-row {
        font-size: 11px;
    }
}

.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto;
    @media (max-width: 668px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
    }

    img {
        border-radius: 10%;
        width: 200px;
        margin-top: 40px;
        margin-bottom: 20px;
        @media (max-width: 668px) {
            width: 300px;
        }
    }
}

.watermark {
    width: 200px;
    margin: auto;
}

.container {
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #000000;
    padding-bottom: 10rem;
}

.landingPage {
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #000000;
    padding-bottom: 10rem;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto;
    padding: 40px;

    h1 {
        @media (max-width: 668px) {
            display: none;
        }
    }
}

hr {
    width: 80%;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 10px;
    border: 2px solid rgba(0, 0, 0, 0.301);
}

.back {
    width: 50px !important;
    // filter: invert(100%);
    transition: all 0.3s;
    margin-right: 90rem;
    &:hover {
        filter: invert(80%);
        cursor: pointer;
    }
}


.notes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 120px;
    padding: 40px;
    width: 80%;
    box-shadow: 0 0 5px 5px rgb(168, 65, 65);
    border-radius:20px;

    i {
        margin:10px;
        font-size: 20px;
        @media (max-width: 668px) {
            direction: rtl;
        }
    }
}


// Brands Name  style 

.brand {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 15px;
}